{% load  static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
  </head>
  <body>
    <h1>Resume foundation</h1>

    <div class="grid-x" style="border: 1px solid green;" >
      <h2 class="cell large-5" style="border: 1px solid red;">Elemento1</h2>
      <h2 class="cell large-4">"Elemento2</h2>
      <h2 class="cell large-3" style="border: 1px solid red;">Elemento3</h2>
      <div class= "cell small-12 large-4 grid-x" style="border: 1px solid darkred;">
        <h3 class="cell large-5">otro elemento</h3>
        <h3 class="cell large-5">otro elemento</h3>
        <h3>otro elemento</h3>
      </div>
    </div>

  </body>
</html>
